body {
    height: 100vh;
    background: black;
    margin: 0;
    padding: 0;
}
div#app {
    height: 100%;
    padding-top: 45px;
    padding: 70px 20px 0 20px;
    max-width: 400px;
    margin: auto;
}
body {
    background-image: url(./resource/background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
h1 {
    text-align: center;
    background: black;
    color: white;
    margin-bottom: 4px;
}
h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.item_box {
    background-color: rgba(6,6,6,0.8);
    padding: 6px 16px;
    margin: 10px 0;
    border-radius: 25px;
    border: 1px solid white;
    position: relative;
}
.title {
  margin-bottom: 7px;
  color: white
  }
.title span {
    display: inline-block;
    margin-left: 12px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
  }
.title img {
    float: left;
    width: 40px;
    height: 40px;
  }
.title p {
    margin: 4px 0px;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}
a {
    color: white;
}
div#notify_box span {
    color: white;
    font-weight: 700;
    width: 100%;
    padding: 6px 0;
    display: block;
    background-color: rgb(175 53 6 / 80%);
    border-radius: 25px;
    border: 1px solid white;
}
div#notify_box {
    width: 100%;
    text-align: center;
    margin: 8px 0;
}
a#previous, a#next, a#previousSearch, a#nextSearch {
    background: black;
    /* padding: 6px; */
    /* margin: 4px; */
    border-radius: 7px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    display: none;
}
a#previous, a#previousSearch {
    right: 22px;
    top: 11px;
}
a#next, a#nextSearch {
    bottom: 23px;
    right: 22px;
}
a#previous img, a#next img, a#previousSearch img, a#nextSearch img {
    width: 26px;
    height: auto;
}
.input_box {
    text-align: center;
}
input#search_input {
    width: 95%;
    border-radius: 25px;
    /* border: 1px solid #000; */
    font-size: 102%;
    padding: 8px 7px;
}
div#item_box_search {
    padding-top: 16px;
}
#input_search_box {
  position: relative;
}
#cancel_search {
    position: absolute;
    top: 10px;
    left: 92%;
    opacity: 0.5;
    display: none;
}
@media (min-width: 400px) {
  div#app {
    padding-top: 85px !important;
  }
}
@media (min-width: 500px) {
  div#app {
    padding-top: 95px !important;
  }
}
@media (min-width: 620px) {
  div#app {
    padding-top: 120px !important;
  }
}
@media (min-width: 800px) {
  div#app {
    padding-top: 170px !important;
  }
}
@media (min-width: 1200px) {
  div#app {
    padding-top: 270px !important;
  }
}
/** Waiting. */
div#waiting {
    text-align: center;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    vertical-align: middle;
    display: none;
    padding-top: 25%;
}
#waiting img {
    margin-top: 40%;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 35%;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
a.cancel {
    position: relative;
    top: -20px;
    right: -11px;
    display: inline-block;
    background: red;
    border-radius: 55%;
  }
.cancel span {
    margin: 0;
    padding: 4px 6px 0px 7px;
  }
.notify_box {
  background: gold;
  color: orangered;
  padding: .5em;
  font-weight: bold;
  
  visibility: visible;
  opacity: 1;
  width: 100%;
  transition: visibility 3s, opacity 3s, width 3s linear;
}

.show {
  max-height: 40px;
  opacity: 1;
  transition: height 2s linear, opacity 2s;
}
.hide {
    opacity: 0;
    max-height: 0;
    animation-name: rainbow;
    animation-duration: 2s;
  }

@keyframes rainbow {
    0% {
      opacity: 1;
      max-height: 40px;
    }
    100% {
      max-height: 0;
      opacity: 0;
    }
  }
